---
http_interactions:
- request:
    method: get
    uri: https://api.ipstack.com/77.46.83.45ffffffff?access_key=35739f5bf46847d4baa540185c9c8b52
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 0fe68b00-8d1c-47f6-9d32-5c901ed8c4ac
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '19'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.035'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Sat, 28 Sep 2024 13:10:44 GMT
recorded_with: VCR 6.3.1
